<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong v-if="id == false">Create User</strong>
          <strong v-else>Update User</strong>
        </div>
        <div class="card-body">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" v-model="form.email" placeholder="Enter email">
            <has-error :form="form" field="email"/>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" v-model="form.password" placeholder="Enter password">
            <has-error :form="form" field="password"/>
          </div>

          <div class="form-group">
            <label for="password_confirmation">Password confirm</label>
            <input type="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" v-model="form.password_confirmation" placeholder="Enter password confirm">
            <has-error :form="form" field="password_confirmation"/>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name" placeholder="Enter name">
            <has-error :form="form" field="name"/>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }" v-model="form.phone" placeholder="Enter phone">
            <has-error :form="form" field="phone"/>
          </div>

          <div class="form-group">
            <b-form-checkbox v-model="form.active">
              Active
            </b-form-checkbox>
            <has-error :form="form" field="active"/>
          </div>

          <button type="submit" @click="create" class="btn btn-primary" v-if="id == 0">Add</button>
          <button type="submit" @click="update" class="btn btn-primary" v-else>Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import {mapGetters, mapState} from 'vuex';

export default {
   data: () => ({
    form: new Form({
      name:'',
      email:'',
      password:'',
      password_confirmation:'',
      phone:'',
      active:false,
    }),
    id: 0,
  }),
  computed: mapGetters({
    user: 'user/userById',
  }),
  created(){
    this.id = this.$route.params.id ? this.$route.params.id : 0;
    if(this.id){
      var $this = this;
      this.$store.dispatch('user/fetchUserById',{id:$this.id}).then(() => {
        $this.form.keys().forEach(key => {
          if(key ==  'active'){
            if($this.user[key] == 1){
              $this.form[key] = true;
            }
            else{
              $this.form[key] = false;
            }
          }
          else{
            $this.form[key] = $this.user[key];
          }
        })
      })
    }
  },
  watch:{
    '$route'(to){
        this.id = to.params.id ? to.params.id : 0;
    }
  },
  methods:{
    async create () {
      const { data } = await this.form.post('/api/user')
      this.$router.push({ name: 'ListUser' })
    },
    async update () {
      const { data } = await this.form.put('/api/user/'+this.id)
      this.$router.push({ name: 'ListUser' })
    }
  }
}
</script>