<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>List User</strong>
        </div>
        <div class="card-body">
          <router-link class="btn btn-primary" :to='{name:"CreateUser"}'>Add</router-link>
          <hr>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items.data">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.active == 1 ? 'Yes' : 'No'}}</td>
                <td><router-link class="btn btn-outline-success" :to='{name:"UpdateUser",params:{id:item.id}}'>Edit</router-link></td>
              </tr>
            </tbody>
          </table>
          <b-pagination :total-rows="items.total" v-model="items.current_page" :per-page="items.per_page" @change="getResults">
          </b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapState} from 'vuex';

export default {
    computed: mapGetters({
      items: 'user/listUser'
    }),
  	created() {
        this.$store.dispatch('user/fetchUser',{page:1})
  	},
    methods:{
      getResults(page = 1) {
        this.$store.dispatch('user/fetchUser',{page:page})
      }
    }
}
</script>