<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong v-if="id == false">Create Product</strong>
          <strong v-else>Update Product</strong>
        </div>
        <div class="card-body">

          <div class="form-group ">
            <label for="category_id">Category</label>
            <multiselect v-model="form.category_id" class="form-control"  :class="{ 'is-invalid': form.errors.has('category_id') }" track-by="id" label="name" placeholder="Select one" :options="optionsCategory" :searchable="true" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.name }}</strong></template>
            </multiselect>
            <div class="help-block invalid-feedback d-block" v-if="form.errors.has('category_id')">{{form.errors.get('category_id')}}</div>
          </div>

          <div class="form-group ">
            <label for="shop_id">Shop</label>
            <multiselect v-model="form.shop_id" class="form-control"  :class="{ 'is-invalid': form.errors.has('shop_id') }" track-by="id" label="name" placeholder="Select one" :options="optionsShop" :searchable="true" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.name }}</strong></template>
            </multiselect>
            <div class="help-block invalid-feedback d-block" v-if="form.errors.has('shop_id')">{{form.errors.get('shop_id')}}</div>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name" placeholder="Enter name">
            <has-error :form="form" field="name"/>
          </div>

          <div class="form-group">
            <label for="price_sale">Price Sale</label>
            <input type="number" class="form-control" :class="{ 'is-invalid': form.errors.has('price_sale') }" v-model="form.price_sale" placeholder="Enter price sale">
            <has-error :form="form" field="price_sale"/>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('price') }" v-model="form.price" placeholder="Enter price">
            <has-error :form="form" field="price"/>
          </div>

          <div class="form-group">
            <label for="images">Images</label>
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-removed-file="removeFileDropzone" @vdropzone-error="errorFileDropzone" @vdropzone-success="uploadFileDropzone" ></vue-dropzone>
            <div class="help-block invalid-feedback d-block" v-if="form.errors.has('images')">{{form.errors.get('images')}}</div>
          </div>

          <div class="form-group">
            <label for="content">Content</label>
            <!-- <wysiwyg v-model="form.content" /> -->
            <quill-editor v-model="form.content"></quill-editor>
            <has-error :form="form" field="content"/>
          </div>

          <div class="form-group">
            <b-form-checkbox v-model="form.active">
              Active
            </b-form-checkbox>
            <has-error :form="form" field="active"/>
          </div>

          <button type="submit" @click="create" :disabled="formSubmit" class="btn btn-primary" v-if="id == 0">Add</button>
          <button type="submit" @click="update" :disabled="formSubmit" class="btn btn-primary" v-else>Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import {mapGetters, mapState} from 'vuex';
import Multiselect from 'vue-multiselect'
import { quillEditor } from 'vue-quill-editor'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import axios from 'axios'
import Swal from 'sweetalert2'

import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  components:{
    Multiselect,
    quillEditor,
    vueDropzone: vue2Dropzone
  },
   data: () => ({
    form: new Form({
      category_id:'',
      shop_id:'',
      name:'',
      price_sale:0,
      price:0,
      content:'',
      active:false,
      images:[],
    }),
    formImage : new Form({
      nameImage:null,
    }),
    imagesBeforeUpdate:[],
    formSubmit:false,
    optionsCategory:[],
    optionsShop:[],
    id: 0,
    dropzoneOptions: {
      url: '/api/image/storeapi',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      destroyDropzone: false,
    }
  }),
  computed: mapGetters({
    product: 'product/productById',
    categoryList:'productcategory/categoryParentToChild',
    shopList:'shop/listForProduct',
  }),
  mounted(){
    var $this = this;
    this.id = this.$route.params.id ? this.$route.params.id : 0;
    this.$store.dispatch('shop/fetchListForProduct');
    this.$store.dispatch('productcategory/fetchProductParentToChild').then(()=>{
      if(this.id){
        this.$store.dispatch('product/fetchProductById',{id:$this.id}).then(() => {
          $this.form.keys().forEach(key => {
            if(key ==  'active'){
              if($this.product[key] == 1){
                $this.form[key] = true;
              }
              else{
                $this.form[key] = false;
              }
            }
            else if(key == 'category_id'){
              var searchOptionsCategory = $this.optionsCategory.find(x => x.id === $this.product[key]);
              this.form[key] = searchOptionsCategory
            }
            else if(key == 'shop_id'){
              var searchOptionsShop = $this.optionsShop.find(x => x.id === $this.product[key]);
              this.form[key] = searchOptionsShop
            }
            else if (key == ['images']){
              $this.product[key].forEach(function(element) {
                var file = { size: element.size, name: element.src, renameFilename:element.src, type: "image/jpg" };
                var url = '/' + element.src;
                $this.$refs.myVueDropzone.manuallyAddFile(file, url); // add to dropzone

                $this.form.images.push(element.src); // add to form images
                $this.imagesBeforeUpdate.push(element.src); // add to form images
              });
            }
            else{
              $this.form[key] = $this.product[key];
            }
          })
        })
      }
    })
  },
  watch:{
    '$route'(to){
        this.id = to.params.id ? to.params.id : 0;
    },
    categoryList(){
      this.optionsCategory = this.categoryList
    },
    shopList(){
      this.optionsShop = this.shopList
    }
  },
  methods:{
    async create () {
      var $this = this;
      var category_choose = this.form.category_id;
      this.formSubmit = true;
      var shop_choose = this.form.shop_id;
      
      if(this.form.category_id){
        this.form.category_id =  this.form.category_id.id;
      }else{
        this.form.category_id =  '';
      }
      if(this.form.shop_id){
        this.form.shop_id =  this.form.shop_id.id;
      }else{
        this.form.shop_id =  '';
      }
      await this.form.post('/api/product').then(function(data){
        $this.$router.push({ name: 'Product' })
      }).catch(function(){ 
        $this.formSubmit = false;
        $this.form.category_id = category_choose
        $this.form.shop_id = shop_id
      })
    },
    async update () {
      var $this = this;
      var category_choose = this.form.category_id;
      this.formSubmit = true;
      var shop_choose = this.form.shop_id;
      
      if(this.form.category_id){
        this.form.category_id =  this.form.category_id.id;
      }else{
        this.form.category_id =  '';
      }
      if(this.form.shop_id){
        this.form.shop_id =  this.form.shop_id.id;
      }else{
        this.form.shop_id =  '';
      }
      await this.form.put('/api/product/'+this.id).then(function(data){
        $this.$router.push({ name: 'Product' })
      }).catch(function(){ 
        $this.formSubmit = false;
        $this.form.category_id = category_choose
        $this.form.shop_id = shop_id
      })
    },
    uploadFileDropzone(file, response){
      file.renameFilename = JSON.parse(response).filename;
      this.form.images.push(JSON.parse(response).filename);
    },
    errorFileDropzone(file){
      this.$refs.myVueDropzone.removeFile(file)
      if(file.xhr){
        var messages = JSON.parse(file.xhr.response)
        var messagesArray = Object.keys(messages.errors).map(item => messages.errors[item])
        if(messagesArray[0][0]){
          Swal.fire(
            'Error upload image...',
            messagesArray[0][0],
            'error'
          )
        }
      }else{
        Swal.fire(
          'Error upload image...',
          'Something went wrong!',
          'error'
        )
      }
    },
    async removeFileDropzone(file, error, xhr){
      var $this = this;
      if(!this.formSubmit){
        this.formImage.nameImage = file.renameFilename;
        if(this.formImage.nameImage){
          if($this.imagesBeforeUpdate.indexOf(file.renameFilename) == -1){
            await this.formImage.post('/api/image/removebynameapi')
          }
          var positionInForm = this.form.images.indexOf(file.renameFilename);
          $this.form.images.splice(positionInForm, 1);  
        }
      }
    }
  }
}
</script>
<style>
.multiselect.form-control {
  padding: 0;
}
</style>
