<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>List Product</strong>
        </div>
        <div class="card-body">
          <router-link class="btn btn-primary" :to='{name:"Create Product"}'>Add</router-link>
          <hr>
          <table class="table table-hover table-striped text-center">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items.data">
                <td>{{item.name}}</td>
                <td>{{item.category_name}}</td>
                <td><del>{{item.price_sale}}</del> {{item.price}}</td>
                <td>{{item.active == 1 ? 'Yes' : 'No'}}</td>
                <td><router-link class="btn btn-outline-success" :to='{name:"Update Product",params:{id:item.id}}'>Edit</router-link></td>
              </tr>
            </tbody>
          </table>
          <b-pagination :total-rows="items.total" v-model="items.current_page" :per-page="items.per_page" @change="getResults">
          </b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapState} from 'vuex';

export default {
  data:()=>({
    page:1
  }),
  computed: mapGetters({
    items: 'product/listProduct'
  }),
	created() {
      this.$store.dispatch('product/fetchProduct',{page:this.page})
	},
  methods:{
    getResults(page = this.page) {
      this.page = page;
      this.$store.dispatch('product/fetchProduct',{page:this.page})
    }
  }
}
</script>