<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong v-if="id == false">Create Category Product</strong>
          <strong v-else>Update Category Product</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="parent">Parent</label>
            <select class="form-control" v-model="form.parent_id">
              <option value="0">No parent</option>
              <option v-for="productcategoryParentItem in listProductCategoryParent" :value="productcategoryParentItem.id">{{productcategoryParentItem.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name" placeholder="Enter name">
            <has-error :form="form" field="name"/>
          </div>

          <button type="submit" @click="create" class="btn btn-primary" :disabled="formSubmit" v-if="id == 0">Add</button>
          <button type="submit" @click="update" class="btn btn-primary" :disabled="formSubmit" v-else>Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import {mapGetters, mapState} from 'vuex';
import Swal from 'sweetalert2'

export default {
   data: () => ({
    form: new Form({
      name: '',
      parent_id: 0
    }),
    formSubmit:false,
    id: 0,
  }),
  computed: mapGetters({
    productcategory: 'productcategory/productCategoryById',
    listProductCategoryParent: 'productcategory/listProductCategoryParent',
  }),
  created(){
    this.id = this.$route.params.id ? this.$route.params.id : 0;
    this.$store.dispatch('productcategory/fetchProductCategoryParent',{id:this.id});
    if(this.id){
      var $this = this;
      this.$store.dispatch('productcategory/fetchProductCategoryById',{id:$this.id}).then(() => {
        $this.form.keys().forEach(key => {
          $this.form[key] = $this.productcategory[key]
        })
      })
    }
  },
  watch:{
    '$route'(to){
        this.id = to.params.id ? to.params.id : 0;
    }
  },
  methods:{
    async create () {
      this.formSubmit = true;
      var $this = this;
      await this.form.post('/api/product-category').then(()=>{
        this.$router.push({ name: 'Product Category' })
      }).catch((errors)=>{
          Swal.fire(
          'Oops...',
          'Something went wrong!',
          'error'
        );
        $this.formSubmit = false;
      })
    },
    async update () {
      this.formSubmit = true;
      var $this = this;
      await this.form.put('/api/product-category/'+this.id).then(()=>{
        this.$router.push({ name: 'Product Category' })
      }).catch((errors)=>{
          Swal.fire(
          'Oops...',
          'Something went wrong!',
          'error'
        );
        $this.formSubmit = false;
      })
    }
  }
}
</script>