<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>List Category Product</strong>
        </div>
        <div class="card-body">
          <router-link class="btn btn-primary" :to='{name:"Create Product Category"}'>Add</router-link>
          <hr>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Parent</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items.data">
                <td>{{item.name}}</td>
                <td>{{item.parent_name}}</td>
                <td>
                  <router-link class="btn btn-outline-success" :to='{name:"Update Product Category",params:{id:item.id}}'>Edit</router-link>
                  <button class="btn btn-outline-danger" v-if="item.check_remove" @click="deleteAction(item.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <b-pagination :total-rows="items.total" v-model="items.current_page" :per-page="items.per_page" @change="getResults">
          </b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapState} from 'vuex'
import Swal from 'sweetalert2'
import Form from 'vform'
import axios from 'axios'

export default {
    data:() =>({
      page:1,
    }),
    computed: mapGetters({
      items: 'productcategory/listProductCategory'
    }),
  	created() {
        this.$store.dispatch('productcategory/fetchProductCategory',{page:this.page})
  	},
    methods:{
      getResults(page = 1) {
        this.page = page;
        this.$store.dispatch('productcategory/fetchProductCategory',{page:this.page})
      },
      deleteAction(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.value) {
            this.$store.dispatch('productcategory/removeProductCategory',{id:id,page:this.page})
          }
        })
      }
    }
}
</script>