<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong v-if="id == false">Create Shop</strong>
          <strong v-else>Update Shop</strong>
        </div>
        <div class="card-body">
     		<div class="form-group">
	          	<label for="type">Type</label>
	          	<select class="form-control text-capitalize" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }">
          			<option value="0">Choose</option>
	          		<option v-for="(type, keyType) in configShop.type" :value="keyType">{{type}}</option>
	          	</select>
	          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name" placeholder="Enter name">
            <has-error :form="form" field="name"/>
          </div>

          <div class="form-group">
          	<label for="sub_info">Sub Information | Limit 150 words | available {{form.sub_info.length}} words</label> 
            <textarea class="form-control" :class="{ 'is-invalid': form.errors.has('sub_info') }" v-model="form.sub_info" maxlength="150" placeholder="Enter sub_info"></textarea>
            <has-error :form="form" field="sub_info"/>
          </div>

          <div class="form-group">
            <label for="information">Information</label>
            <quill-editor v-model="form.information"></quill-editor>
            <has-error :form="form" field="information"/>
          </div>

          <div class="form-group">
          	<label for="status">Status</label>
          	<select class="form-control text-capitalize" v-model="form.status" :class="{ 'is-invalid': form.errors.has('status') }">
          		<option value="0">Choose</option>
	          	<option v-for="(status,keyStatus) in configShop.status" :value="keyStatus">{{status}}</option>
          	</select>
          </div>

          <div class="form-group">
            <label for="images">Images</label>
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-removed-file="removeFileDropzone" @vdropzone-error="errorFileDropzone" @vdropzone-success="uploadFileDropzone" ></vue-dropzone>
            <div class="help-block invalid-feedback d-block" v-if="form.errors.has('images')">{{form.errors.get('images')}}</div>
          </div>

          <div class="form-group">
            <b-form-checkbox v-model="form.certification">
              Certification
            </b-form-checkbox>
            <has-error :form="form" field="certification"/>
          </div>

          <button type="submit" @click="create" class="btn btn-primary" :disabled="formSubmit" v-if="id == 0">Add</button>
          <button type="submit" @click="update" class="btn btn-primary" :disabled="formSubmit" v-else>Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import {mapGetters, mapState} from 'vuex';
import Multiselect from 'vue-multiselect'
import { quillEditor } from 'vue-quill-editor'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import axios from 'axios'
import Swal from 'sweetalert2'

import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  components:{
    Multiselect,
    quillEditor,
    vueDropzone: vue2Dropzone
  },
   data: () => ({
    form: new Form({
      type:0,
      name:'',
      sub_info:'',
      information:'',
      status:0,
      certification:false,
      images:[],
    }),
    formImage : new Form({
      nameImage:null,
    }),
    imagesBeforeUpdate:[],
    formSubmit:false,
    id: 0,
    dropzoneOptions: {
      url: '/api/image/storeapi',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      destroyDropzone: false,
    }
  }),
  computed: mapGetters({
    shop: 'shop/shopById',
    configShop : 'shop/configShop'
  }),
  mounted(){
    var $this = this;
    this.id = this.$route.params.id ? this.$route.params.id : 0;

    this.$store.dispatch('shop/fetchConfigShop').then(()=>{
    	this.config = $this.configShop
      
    if(this.id){
        this.$store.dispatch('shop/fetchShopById',{id:$this.id}).then(() => {
          $this.form.keys().forEach(key => {
            if(key ==  'certification'){
              if($this.shop[key] == 1){
                $this.form[key] = true;
              }
              else{
                $this.form[key] = false;
              }
            }
            else if (key == ['images']){
            	if($this.shop[key]) {
		            $this.shop[key].forEach(function(element) {
		               var file = { size: element.size, name: element.src, renameFilename:element.src, type: "image/jpg" };
		               var url = '/' + element.src;
		               $this.$refs.myVueDropzone.manuallyAddFile(file, url); // add to dropzone

		               $this.form.images.push(element.src); // add to form images
		               $this.imagesBeforeUpdate.push(element.src); // add to form images
		            });
            	}
            }
            else{
              $this.form[key] = $this.shop[key];
            }
          })
        })
      }
    })
  },
  watch:{
    '$route'(to){
        this.id = to.params.id ? to.params.id : 0;
    }
  },
  methods:{
    async create () {
      var category_choose = this.form.category_id;
      var $this = this;
      this.formSubmit = true;
      
      if(this.form.category_id){
        this.form.category_id =  this.form.category_id.id;
      }else{
        this.form.category_id =  '';
      }
      await this.form.post('/api/shop').then(function(data){
        $this.$router.push({ name: 'Shop' })
      }).catch(function(){ 
        $this.formSubmit = false;
        $this.form.category_id = category_choose
      })
    },
    async update () {
      var $this = this;
      this.formSubmit = true;
      var category_choose = this.form.category_id;
      if(this.form.category_id){
        this.form.category_id =  this.form.category_id.id;
      }else{
        this.form.category_id =  '';
      }
      await this.form.put('/api/shop/'+this.id).then(function(data){
        $this.$router.push({ name: 'Shop' })
      }).catch(function(){ 
        $this.formSubmit = false;
        $this.form.category_id = category_choose
      })
    },
    //handle Image
    uploadFileDropzone(file, response){
      file.renameFilename = JSON.parse(response).filename;
      this.form.images.push(JSON.parse(response).filename);
    },
    errorFileDropzone(file){
      this.$refs.myVueDropzone.removeFile(file)
      if(file.xhr){
        var messages = JSON.parse(file.xhr.response)
        var messagesArray = Object.keys(messages.errors).map(item => messages.errors[item])
        if(messagesArray[0][0]){
          Swal.fire(
            'Error upload image...',
            messagesArray[0][0],
            'error'
          )
        }
      }else{
        Swal.fire(
          'Error upload image...',
          'Something went wrong!',
          'error'
        )
      }
    },
    async removeFileDropzone(file, error, xhr){
      var $this = this;
      if(!this.formSubmit){
        this.formImage.nameImage = file.renameFilename;
        if(this.formImage.nameImage){
          if($this.imagesBeforeUpdate.indexOf(file.renameFilename) == -1){
            await this.formImage.post('/api/image/removebynameapi')
          }
          var positionInForm = this.form.images.indexOf(file.renameFilename);
          $this.form.images.splice(positionInForm, 1);  
        }
      }
    }
    //end handle image
  }
}
</script>
<style>
.multiselect.form-control {
  padding: 0;
}
</style>
